[submodule ".emacs.d/vendor/twitter"]
	path = .emacs.d/vendor/twitter
	url = git://github.com/hayamiz/twittering-mode.git
[submodule ".emacs.d/vendor/pycoverage"]
	path = .emacs.d/vendor/pycoverage
	url = git://github.com/mattharrison/pycoverage.el.git
[submodule ".emacs.d/vendor/mingus"]
	path = .emacs.d/vendor/mingus
	url = git://github.com/pft/mingus.git
[submodule ".emacs.d/vendor/coffee-mode"]
	path = .emacs.d/vendor/coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
[submodule ".emacs.d/vendor/gist.el"]
	path = .emacs.d/vendor/gist.el
	url = git://github.com/defunkt/gist.el.git
[submodule ".emacs.d/vendor/perspective-el"]
	path = .emacs.d/vendor/perspective-el
	url = https://github.com/nex3/perspective-el.git
